<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating your QR-code</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
<h1>Создавай QR-code для чего угодно</h1>

<form action="/submit" method="POST">
    <label for="user_input">Ваша ссылка: </label>
    <input type="text" id="user_input" name="user_input">
    <button type="submit">Отправить</button>
</form>

<form action="/submit" method="POST">
    <div class="dropdown">
        <button class="dropbtn">Выпадающее</button>
        <div class="dropdown-content">
            <button type="submit">55</button>
            <a href="#">55</a>
        </div>
    </div>
</form>

{% if trip_img %}
<h1>Статус генерации: {{ status_gen }}</h1>
<h1>Ваш QR-code:</h1>

<!-- Контейнер для кнопки и изображения -->
<div class="qr-container">
    <!-- Кнопка для копирования изображения -->
    <button id="copyButton" onclick="copyQRCode()">Копировать QR-код</button>
    <img id="qrImage" src="{{url_for('static', filename=trip_img)}}" width="250" height="250" alt="Ваш QR-код">

    <!-- Уведомление -->
    <div id="copyNotification">QR-код скопирован в буфер обмена!</div>
</div>

{% endif %}

<script src="static/js/copyQRCode.js">
</script>

</body>
</html>
