<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating your QR-code</title>
</head>
<body>
<h1>Создавай QR-code для чего угодно</h1>
</body>

<form action="/submit" method="POST">
    <label for="user_input">Ваша ссылка: </label>
    <input type="text" id="user_input" name="user_input">
    <button type="submit">Отправить</button>
    <h1>Статус генерации: {{ status_gen }}</h1>
</form>
<h1>Ваш QR-code:</h1>
<body>
    <img src= "{{url_for("static", filename=trip_img)}}" width="250" height="250">
</body>


</html>